# Základné knižnice pre Streamlit a Google Cloud
streamlit
google-cloud-documentai
google-cloud-dlp
google-generativeai
google-cloud-aiplatform
python-dotenv

# Knižnica pre prácu s konfiguračnými súbormi
configparser

# Databáza
SQLAlchemy>=2.0
PyMySQL>=1.1

# API server
fastapi
uvicorn
python-multipart